<div class="navigation-scope" ng-controller="BreadcrumbController as breadcrumb">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet breadcrumb-wrapper">
      <div class="breadcrumb">{{breadcrumb.breadCrumb}}</div>
      <div class="search-context">R20394756</div>
      <i class="material-icons">chevron_right</i>
      <div class="search-criteria">Contract Holder</div>
      <i class="material-icons">chevron_right</i>
      <i class="material-icons result">person</i>
      <div class="search-result">John S. Smith</div>
      <i class="material-icons">chevron_right</i>
      <!-- <div class="search-result">View Roster</div>
<i class="material-icons group">people</i>
<i class="material-icons trigger" ng-click="vm.toggle()">expand_more</i> -->
    </div>
  </div>
</div>
<!-- <member-roster class="mdl-shadow--6dp" ng-show="vm.isVisible">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet roster-wrapper">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp roster-data">
        <thead>
          <tr>
             <th class="mdl-data-table__cell--non-numeric">Enrollment Status</th>
             <th>Enrollment Code</th>
             <th>Trans Code</th>
             <th>Event Code</th>
             <th>Employment Status</th>
             <th>Payroll Office</th>
             <th>Effective Date</th>
             <th>Processed Date</th>
             <th>New/Prev Carrier</th>
          </tr>
        </thead>
        <tbody>
          <tr>
             <td class="mdl-data-table__cell--non-numeric">Current</td>
             <td>30</td>
             <td>105</td>
             <td>11</td>
             <td>1</td>
             <td>12400001</td>
             <td>01.01.2014</td>
             <td>05.01.2018</td>
             <td>--</td>
          </tr>
          <tr>
             <td class="mdl-data-table__cell--non-numeric">Previous</td>
             <td>30</td>
             <td>105</td>
             <td>11</td>
             <td>1</td>
             <td>12400001</td>
             <td>01.01.2014</td>
             <td>05.01.2018</td>
             <td>--</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</member-roster> -->
